.coursebox-input-number {
	display: inline-block;

	// 组件不从外设置宽度 从内到外撑开宽度
	height : 32px;
	padding: 0 10px;

	border       : 1px solid #E8E8E8;
	border-radius: 2px;

	input[type="number"]::-webkit-inner-spin-button,
	input[type="number"]::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin            : 0;
	}

	.icon {
		display       : inline-block;
		vertical-align: middle;
		width         : 14px;
		height        : 14px;
		padding       : 2px;
		margin-right  : 7px;
	}

	.unit {
		font-size     : 12px;
		vertical-align: middle;
		margin-left   : 1px;
		color         : #333;
	}

	// 输input入框
	.input-number {
		background-color: #fff;
		text-align      : center;

		height : 100%;
		width  : 22px;
		margin : 0;
		padding: 0;

		border : none;
		outline: none;
	}

	.number-up-down {
		display: inline-block;
		float  : right;

		width: 6px;
		// 距离input间隔
		margin-left: 7px;

		.number-up,
		.number-down {
			width  : 100%;
			display: block;
			border : 1px solid transparent;

			// 禁止选中
			-moz-user-select: none;
			/*火狐*/
			-webkit-user-select: none;
			/*webkit浏览器*/
			-ms-user-select: none;
			/*IE10*/
			-khtml-user-select: none;
			/*早期浏览器*/
			user-select: none;
		}

		.number-up {
			margin-top: 5px;
		}

		.number-down {
			margin-top   : 10px;
			margin-bottom: 5px;
		}

		.number-up:active,
		.number-down:active {
			// 使用边框代替padding，因为有一张图不是透明的
			// background-color: #38f;
			border-color       : #38f;
		}
	}
}

.coursebox-input-number:hover {
	border-color: #5C6066;
}